@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@layer components {
  .container {
    @apply px-8 max-w-screen-xl mx-auto;
  }
}

.playwrite {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.chakra {
  font-family: "Chakra Petch";
}

.oswald {
  font-family: "Bebas Neue", sans-serif;
}

.bg-gradient-banner {
  background: linear-gradient(
    90deg,
    rgb(106, 139, 245) 15%,
    rgb(61, 107, 255) 35%,
    rgb(126, 217, 253) 100%
  );
}
.bg-gradient-btn {
  background: linear-gradient(
    90deg,
    rgb(100, 97, 255) 50%,
    rgb(188, 152, 255) 100%
  );
}

.bg-gradient-btn2 {
  background: linear-gradient(
    90deg,
    rgb(152, 214, 255) 10%,
    rgb(219, 236, 255) 100%
  );
}
